@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #E6E643;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body{
    background-color: #014289;
    font-family: 'courier new';
    font-family: 'sans-serif';
    font-family: 'Nanum Gothic';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #014289;
}

nav a:hover{
    background-color: black;
    color: #E6E643;
}

.book, .join{
    background-color: #014289;
    color: #E6E643;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #014289;
    color: #E6E643;
}

#background{
    background-color: #E6E643;
}

.msg{
    background-color: #014289;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color: #014289;
    color: #CC391F;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title{
    color: #E6E643;
    font-family: 'courier new';
    font-family: 'sans-serif';
    font-family: 'Gill Sans';
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #E6E643;
}

.msg h2 {
    color: #E6E643;
    font-family: 'courier new';
    font-family: 'sans-serif';
    font-family: 'Gill Sans';
}

.msg p{
    color: #E6E643;
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer a{
    color: #CC391F;
    text-decoration: none;
}

footer a:hover{
    background-color: black;
}

footer .social img {
    padding-top: 15px;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

footer p {
    font-size: 1.2em;
}   

footer p a:hover {
    text-decoration: underline;
}  

h2 {
    margin: 0;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img{
    border: 10px solid #000000;
}