:root {
    /* change the values below to your colors from your palette */
    --primary-color: #F3F4ED   ;
    --secondary-color: #536162 ;
    --accent1-color: #424642;
    --accent2-color: #C06014;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Roboto";
    --paragraph-font: "Roboto Slab";
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #424642;  /* headlines on a white background */ 
    --headline-color-on-color: #F3F4ED; /* headlines on a colored background */ 
    --paragraph-color-on-white: #536162; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #F3F4ED; /* paragraph text on a colored background */ 
    --paragraph-background-color: #536162  ;
    --nav-link-color: #424642;
    --nav-background-color: #C06014;
    --nav-hover-link-color: #F3F4ED;
    --nav-hover-background-color: #424642;
  }

body {
    background-color: var(--primary-color);
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
    margin: -8px;
    padding: 0px;
}
nav a {
    min-width: 16.67%;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.logo-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: auto;
}

a{
    max-width: 16%;
}

footer{
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 25px 50px;
    margin: -8px;
    margin-top: 200px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

footer a{
    color: var(--accent2-color);
    text-decoration: none;
    text-align: center;
    padding: auto;
    margin: 50;
}

footer a:hover{
    background-color: var(--secondary-color);
}

footer p {
    font-size: 1.2em;
}   

footer p a:hover {
    text-decoration: underline;
}  

.hover-fix{
    background-color: var(--accent1-color);
}

nav img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

